/* Meet Your Host */
.meet-your-host {
    margin: 2rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 2rem;
    font-family: var(--bnb-text);
}

.host-layout {
    display: grid;
    grid-template-columns: 395px 1fr;
    gap: 3rem;
    align-items: flex-start;
}

/* LEFT SIDE */
.host-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    height: 211.6px;
    min-width: unset;
}

.host-left {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    text-align: center;
    margin-left: 66px;
}

.host-photo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.75rem;
}

.host-photo-wrapper {
    position: relative;
    display: inline-block;
    justify-content: right;
    width: 96px;
    height: 96px;
    overflow: visible;
}

.superhost-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #e31c5f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.superhost-badge svg {
    width: 16px;
    height: 16px;
    fill: #ffffff;
}

.host-name {
    font-size: 31.5px;
    font-weight: 600;
    margin: 0;
    line-height: 1.1;
}

.host-role {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #717171;
    margin: 4px 0 0 0;
    line-height: 1;
}

.host-role-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    flex: 0 0 auto;
    top: 2;
}

.host-role span {
  display: inline-block;
  position: relative;
  top: -1px;
  line-height: 1;
}

/* STATS */
.host-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    min-width: 120px;
}

.stat-value {
    display: block;
    font-weight: 600;
    font-size: 26px;
    margin: 0;
    gap: 0;
}

.stat-value span {
    font-size: 20px;
    margin: 0;
    gap: 0;
}

.stat-label {
    font-size: 10px;
    color: #080808;
    margin: 0;
}

/* UNDER CARD */
.host-extra {
    margin-top: 1.5rem;
    font-size: 19px;
}

.host-fact {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.host-icon {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    flex-shrink: 0;
    color: #222;
}

.host-bio {
    padding-bottom: 60px;
}

/* RIGHT SIDE */
.meet-host-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border-top: none;
}

.superhost-heading {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.superhost-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.info-heading {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.info-text span {
    margin-top: 0;
}

.message-host-btn {
    margin-top: 30px;
    color: #222222e5;
    background: #f2f2f2;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 151.413px;
    height: 48px;
    margin-left: 0;
}

.message-host-btn:hover {
    background: #e9e9e9;
    transition: 0.3s;
}