.app-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 3.5rem;
    padding: .8rem 1rem;
    background: transparent;
}

.app-footer p {
    margin: 0;
}