.stay-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 192px);
    gap: 10px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: start;
}

.stay-list>li {
    width: 192px;
}