.stay-index {
    max-width: 1880px;
    margin-inline: auto;
    padding-inline: 0px;
}

.stay-index .row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .3em;
}

.stay-index h2 {
    margin: 0;
    font-size: 1.3em;
}

.stay-index button {
    margin-inline-end: 0;
}

.stay-index .row-title {
    margin: 0;
}

.stay-index .row-title-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.stay-index .row-title-link svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    fill: none;
    stroke: currentColor;
    stroke-width: 5.33333;
    overflow: visible;
    transform: translateY(2px);
}