.stay-index {
    max-width: 1880px;
    margin-inline: auto;
    padding-inline: 24px;

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: .3em;
    }

    & h2 {
        margin: 0;
        font-size: 1.3em;
    }

    & button {
        margin-inline-end: 0;
    }
}