.stay-index {
    max-width: 1880px;
    margin-inline: auto;
    padding-inline: 24px;
}

.stay-index header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .3em;
}

.stay-index h2 {
    margin: 0;
    font-size: 1.3em;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.stay-index button {
    margin-inline-end: 0;
}

.stay-index .row-title svg {
    display: block;
    width: 12px;
    height: 12px;
    fill: none;
    stroke: currentColor;
    stroke-width: 5.33333;
    overflow: visible;
}

.stay-index .row-title svg {
    transform: translateY(3px);
}